body {
    background-color: ;
    margin: 20px;#cce7e8
    border: 20px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

h1 {
    color:black;
    text-align: center;
}







